<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" >
<title>故障日志</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/extra/Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/extra/Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/extra/Assets/css/thems.css">

<style type="text/css">


.files {
    background: #fff;width: 700px;
    height: 315px;
    
    margin: 0 auto;
    margin-top: 100px;position: relative;cursor: pointer;background-size: 700px 315px;background-repeat: no-repeat;}
.files img {    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 80px;}


table tr {text-align: center;padding:10px;}
table td {text-align: center;padding:10px;}
table img {width: 100px;}
</style>
<!--框架高度设置-->
</head>

<body>
<div id="right_ctn">
    <div class="right_m">
        <!--会议列表-->
        <div class="hy_list">
            <div class="box_t">
                <span class="name">审批内容</span>
            </div>
            <div class="space_hx">&nbsp;</div>
            <table class="files">
                <tr>
                    <td><img {if $applyinfo.Apply_headimg} src="/uploads/users/{$applyinfo.Apply_headimg}" {else} src="\static\images\Common\default.png" {/if}></td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>{$applyinfo.Apply_name}</td>
                </tr>
                <tr>
                    <td>民族</td>
                    <td>{$applyinfo.Apply_name}</td>
                </tr>
                <tr>
                    <td>地址</td>
                    <td>{$applyinfo.Apply_email}</td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>{if $applyinfo.Apply_sex eq 1} 男 {else} 女 {/if}</td>
                </tr>
                <tr>
                    <td>身份证号</td>
                    <td>{if $applyinfo.Apply_IDcard}{$applyinfo.Apply_IDcard}{else}未填写{/if}</td>
                </tr>
            </table>
        </div>
        <a href="{:url('User/pass',['id' => $applyinfo.Apply_id,'type' => 1])}" style="margin-top: 30px;    display: inline-grid;width: 300px;padding:10px;text-align: center;background: #09f;color:#fff;height: 30px;line-height: 30px;font-size:15px;border-radius: 3px;">通过</a>
        <a href="{:url('User/pass',['id' => $applyinfo.Apply_id,'type' => 0])}" style="margin-top: 30px;    display: inline-grid;width: 300px;padding:10px;text-align: center;background: #666;color:#fff;height: 30px;line-height: 30px;font-size:15px;border-radius: 3px;">拒绝</a>
        <!--会议列表-->
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="__JS__/Admin/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
$(".hy_list").find("p").click(function(){

    $("form").submit();
});
$("#file").change(function () {
   var obj=$("#file")[0].files[0];
   var fr=new FileReader();
   fr.onload=function () {
       $(".files").css('background',"url("+this.result+")");
       $(".files").css('background-size',"700px 315px");

};
fr.readAsDataURL(obj);
});
</script>
