<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" >
<title>修改个人信息</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/extra/Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/extra/Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/extra/Assets/css/thems.css">
<script type="text/javascript" src="__STATIC__/extra/Assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $(function(){
    	//自适应屏幕宽度
    	window.onresize=function(){ location=location }; 
    	
    	var main_h = $(window).height();
    	$('.hy_list').css('height',main_h-45+'px');
    	
    	var main_w = $(window).width();
    	$('.xjhy').css('width',main_w-40+'px');
    	
    	
    	$(".tabBox .tabCont:first").css("display","block");
    	$(".tabBox .tabNav li").click(function(){
    		$(this).siblings("li").removeClass("now");
    		$(this).addClass("now");
    		$(this).parents(".tabBox").find(".tabCont").css("display","none");
    		var i=$(this).index();
    		$(this).parents(".tabBox").find(".tabCont:eq("+i+")").css("display","block");
    	});
    	
    	$('.xial_m span').click(function(){
    		$(this).parent('.xial_m').siblings('.xl_ctn').toggle();
    	});
    });
</script>
</head>

<body onLoad="Resize();">
<div id="right_ctn">
	<div class="right_m">
		<!--我的列表-->
        <div class="hy_list">
        	<div class="box_t">
            	<span class="name">申请修改个人信息</span>
            </div>
            <div class="space_hx">&nbsp;</div>
            <!--新建我的-->
            <form action="{:url('User/update',['id' => $User.User_id,'type' => true])}" method="post" enctype="multipart/form-data">
            <div class="xjhy" style="padding:0px;">
                <div class="tabBox_t">
                    <div class="tabBox">
                      <ul class="tabNav">
                        <li class="now"><span>修改个人信息</span></li>
                      </ul>
                        <div class="tabCont" style="display:block;">
                        <!--基本配置-->
                            <ul class="hypz">
                                <li class="clearfix">
                                    <span class="title">我的名称：</span>
                                    <div class="li_r">
                                        <input class="chang" name="Apply_name" type="text" value="{$User.User_name}">
                                        <i>*</i>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="title">我的性别：</span>
                                      <div class="li_r">
                                          <span class="radio">
                                              <input required checked="checked"  type="radio" value="男" name="Apply_sex" {if $User.User_sex eq '男' } checked {/if}>
                                              <em>男</em>
                                          </span>
                                          <span class="radio">
                                              <input required  type="radio" value="女"  name="Apply_sex" {if $User.User_sex eq '女' } checked {/if}>
                                              <em>女</em>
                                          </span>
                                      </div>
                                </li>
                                <li class="clearfix">
                                    <span class="title">我的身份证号：</span>
                                    <div class="li_r">
                                        <input required name="Apply_IDcard" type="text" value="{$User.User_IDcard}">
                                        <i>*</i>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="title">我的民族：</span>
                                    <div class="li_r">
                                        <input required name="Apply_phone" type="text" value="{$User.User_phone}">
                                        <i>*</i>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="title">我的地址：</span>
                                    <div class="li_r">
                                        <input required name="Apply_email" type="text" value="{$User.User_email}">
                                        <i>*</i>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="title">我的身份证</span>
                                    <div class="li_r">
                                        <input type="file" multiple name="User_headimg">
                                        <input type="hidden" name="User_rheadimg" value="{$User.User_headimg}">
                                    </div>
                                </li>
                                <li class="tj_btn">
                                     <input type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success "  value="提交申请">
                                </li>
                            </ul>
                        <!--基本配置-->
                        </div>
                	</div>
                </div>
            </div>
            </form>
            <!--新建我的-->
        </div>
        <!--我的列表-->
    </div>
</div>
</body>
</html>
